{% extends "base.html" %}

{% block main %}

{% if tasks|length == 0 %}
    <h3>No tasks</h3>
{% else %}

<div class="dropdown tasks_sort">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by: <b>{{ sort.title }}</b>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for sort_type, sort_title in sort_titles %}
            <a class="dropdown-item tasks_sort_item" href="/?page={{ pagination.current }}&sort={{ sort_type }}">{{ sort_title }}</a>
        {% endfor %}
    </div>
</div>

<div class="row">
    {% for task in tasks %}
        <div class="col-sm-4">
            <div class="task">
                {% if task.status %}
                    <div class="task_completed">completed &nbsp;</div>
                {% else %}
                    <div class="task_not_completed">not completed &nbsp;</div>
                {% endif %}
                {% if task.is_edited %}
                    <div class="task_edited">edited by admin &nbsp;</div>
                {% endif %}
                <h3>Task # {{ task.id }}</h3>
                <p>Username: {{ task.username }}</p>
                <p>Email: {{ task.email }}</p>
                <hr>
                <p><b>{{ task.text }}</b></p>

                {% if is_logged %}
                    <p><a class="btn btn-success" href="/?p=edit_task&id={{ task.id }}">Edit task</a></p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{% if pagination.total > 1 %}
<div aria-label="..." class="tasks_pagination">
    <ul class="pagination">
        {% for page_id in 1..pagination.total %}
            {% if page_id == pagination.current %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ page_id }} <span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="/?page={{ page_id }}&sort={{ sort.type }}">{{ page_id }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endif %}

{% endblock %}
