* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, Tahoma, sans-serif;
    font-size: 14px;
}

header {
    padding: 20px;
}

main {
    padding: 20px;
    min-height: 400px;
    width: 100%;
}

footer {
    padding: 10px;
    background: #333;
    color: #fff;
    text-align: center;
}

.msg {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    background: orange;
    color: #000;
}

.task {
    padding: 10px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.task_edited {
    color: #aaa;
    float: right;
}

.task_completed {
    color: green;
    float: right;
}

.tasks_pagination {
    text-align: center;
}
